<h2><%= @subject.name %></h2>
<p>Category: <%= link_to(@subject.category.name, category_path(@subject.category)) %></p>

<% if @subject.photos.any? %>
  <h3>Photos:</h3>

  <% @subject.photos.each do |photo| %>
    <p>
      <%= link_to(photo.date, subject_photo_path(@subject, photo)) %>

      <% if photo.notes.present? %>
         - <%= photo.notes %>
      <% end %>
    </p>

    <% if photo.image_url.present? %>
      <p><%= image_tag(photo.image_url) %></p>
    <% end %>
  <% end %>
<% end %>

<p><%= link_to('Edit', edit_subject_path(@subject)) %> |
<%= link_to('Delete', subject_path(@subject), data: { confirm: 'Are you sure?' }, method: :delete) %></p>