<h2><%= @subject.name %></h2>

<p>Category: <%= link_to(@subject.category.name, category_path(@subject.category)) %></p>

<p><span class="button"><%= link_to('Edit Subject', edit_subject_path(@subject)) %></span>
<span class="button"><%= link_to('Delete Subject', subject_path(@subject), data: { confirm: 'Are you sure?' }, method: :delete) %></span></p>

<% if @subject.photos.any? %>
  <h3>Photos:</h3>

  <% @subject.photos.each do |photo| %>
    <p>
      <%= link_to(photo.date, subject_photo_path(@subject, photo)) %>

      <% if photo.notes.present? %>
         - <%= photo.notes %>
      <% end %>
    </p>

    <% if photo.image_url.present? %>
      <p><%= image_tag(photo.image_url) %></p>
    <% end %>
  <% end %>
<% end %>

<p class="button"><%= link_to('Add Photo', new_subject_photo_path(@subject)) %></p>
